.container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.st0 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #006293;
}
svg#Layer_1 {
  width: 50%;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  z-index: 1;
}
svg#Layer_1:hover ~ .sub-title {
  opacity: 1;
  top: 53vh;
}
svg#Layer_1:hover {
  top: -50px;
}

.sub-title {
  position: absolute;
  top: 51vh;
  opacity: 0;
  transition: all ease 0.8s;
}
